/*Removing standard formatting*/

* {
    margin: 0;
    padding: 0;
}

/*General formatting*/

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;    
}

.white {
    color: #fff;
}

/*header formatting*/

header {
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#logo, nav{
    padding: 10px;
}

#logo {
    font-size: 1.6em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

nav a:link, nav a:visited {
    color: #fff;
    padding: 12px 8px;
}

nav a:hover {
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}

/*Content formating*/

main {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

section, aside {
    background-color: #fff;
}

article {
    width: 640px;
    float: left;
}

aside {
    width: 240px;
    float: right;
}

footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

.post {
    padding: 20px 0 20px 20px;
    margin-bottom: 20px;
    background: #fff;
}

.post h2 {
    color:#f7b600;
}

.post span {
    font-size: 0.8em;
    display: block;
    padding-bottom: 10px;
}

.lateral-content {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.lateral-post {
    font-size: 0,8em;
    padding: 5px;
    border-bottom: 2px dotted #ccc;
}

